.body-container {
    background-color: white;
    border-radius: 6px;
    width: 75%;
    height:max-content;
    margin: auto;
    margin-top: 3em;
}

.list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: .7em;
    padding-right: .7em;
    padding-top: .5em;
}
