.body-container {
    box-sizing: border-box;
    background-color: white;
    border-radius: 6px;
    width: 80%;
    height:max-content;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    font-family: 'Roboto-mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    max-height: 70vh;
    box-shadow: .3em .2em 1em 0em rgb(56, 55, 77);
}

.list-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding-left: .7em;
    padding-right: .7em;
    padding-top: .5em;
}

.list-header > h1 {
    margin-left: 1em;
}

.list-header > h3 {
    margin-right: 1em;
}

.task-form-btns {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: center;
}

.add-new-task-btn {
    width: 16%;  
    padding: .7em;
    margin: .35em;
    background-color: rgb(128, 191, 243);
    font: 1em 'Roboto-mono', monospace;
    border: none;
    border-radius: 1em;
}

.add-new-task-btn:hover {
    background-color: rgb(139, 207, 238);
}

.delete-list-btn {
    background-color: inherit;
    border: none;
    font-family: 'Roboto-mono', monospace;
}

.delete-list-btn:hover {
    text-decoration: underline;
    color: red;
}
