.form {
    background-color: white;
    width: 70%;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
}

.form > input {
    border: none;
    border-bottom: 1px solid black;
}

.form > button {
    margin-top: 1em;
}